### 50 Important Queries In SQL Server
    https://www.c-sharpcorner.com/article/50-important-queries-in-sql-server/

In [ ]:
-- DROP - ALL - CONSTRAINT

CREATE TABLE #Commands (Command VARCHAR(MAX))

INSERT #Commands
SELECT 'ALTER TABLE ' + QUOTENAME(RC.CONSTRAINT_SCHEMA)
    + '.' + QUOTENAME(KCU1.TABLE_NAME)
    + ' DROP CONSTRAINT ' + QUOTENAME(rc.CONSTRAINT_NAME) + '; '
FROM INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS AS RC

INNER JOIN INFORMATION_SCHEMA.KEY_COLUMN_USAGE AS KCU1
    ON KCU1.CONSTRAINT_CATALOG = RC.CONSTRAINT_CATALOG
    AND KCU1.CONSTRAINT_SCHEMA = RC.CONSTRAINT_SCHEMA
    AND KCU1.CONSTRAINT_NAME = RC.CONSTRAINT_NAME
WHERE ORDINAL_POSITION=1

--SELECT * FROM #Commands

DECLARE @Command VARCHAR(MAX)
DECLARE curCommand CURSOR FOR
SELECT Command FROM #Commands

OPEN curCommand

FETCH NEXT FROM curCommand INTO @Command

WHILE @@FETCH_STATUS =0
BEGIN

    EXEC(@Command)
    FETCH NEXT FROM curCommand INTO @Command

END

CLOSE curCommand
DEALLOCATE curCommand

DROP TABLE #Commands

https://www.tiagoneves.net/blog/procedures-nao-documentadas-sp_msforeachdb-e-sp_msforeachtable/

In [ ]:
-- DISABLE  TRIGGER SELETIVO

select 'alter table '+ (select Schema_name(schema_id) from sys.objects o where o.object_id = parent_id) + '.'+ object_name(parent_id) + ' DISABLE TRIGGER ' + Name as EnableScript
from sys.triggers t 
where is_disabled = 0 And Name not like '%_IR'

In [ ]:
-- Auto-increment -- Desativa - Insert - Reativar
SET IDENTITY_INSERT masterTbl ON  --Desabilita o IDENTITY

INSERT INTO masterTbl (id, name) VALUES (1, 'MNO') --Consegue inserir

SET IDENTITY_INSERT masterTbl OFF  --Habilita o IDENTITY

In [ ]:
-- Reseed Identity
DBCC CHECKIDENT(tblPerson, RESEED, 0)

In [ ]:
-- DROP - ALL - SCHEMA
USE [Processo]
GO

/****** Object:  Schema [TCE\81344546404]    Script Date: 16/06/2020 10:34:53 ******/
--DROP SCHEMA [TCE\81344546404]
--GO


select 'DROP SCHEMA ['+ s.name + ']' as schema_name, u.name as schema_owner
from sys.schemas s
inner join sys.sysusers u on u.uid = s.principal_id
--WHERE LEFT( s.name, 4) = 'TCE\' AND s.name NOT IN ('TCE\67154832487', 'TCE\08283413465', 'TCE\63729741420', 'TCE\usu√°rios do dominio')
order by s.name

In [ ]:
-- Compare stored procedures across multiple databases (SQL Server)
    -- https://stackoverflow.com/questions/2133876/compare-stored-procedures-across-multiple-databases-sql-server

    -- https://www.mssqltips.com/sqlservertip/2626/verify-sql-server-stored-procedures-are-the-same-on-multiple-servers/

In [ ]:
GRANT Controle on Certificate

GRANT CONTROL ON CERTIFICATE :: CertificadoCg0101_v3 TO uCG0101Coleta;
GO
---
GRANT CONTROL ON SYMMETRIC KEY :: ChaveSimetricaCg0101 TO uCG0101;
GO

In [ ]:
-- Check who has access to symmetric keys

--GRANT CONTROL  para certificado e chave simetrica

-- grant CONTROL ON CERTIFICATE::InserirChave TO Inserirusuario
-- grant CONTROL ON SYMMETRIC KEY::InserirChave TO Inserirusuario

/*
SELECT * FROM SYS.symmetric_keys



select
      [database] = db_name()
    , u.name
    , p.permission_name
    , p.class
    , p.class_desc
    , ObjectNameForObjectORColumn
        = object_name(p.major_id) 
    , objectNameActual
        = case class_desc
            when 'SYMMETRIC_KEYS' then sm.name              
            when 'CERTIFICATE' then [cert].name             
      end
    , state_desc 
from sys.database_permissions  p 
inner join sys.database_principals	u		on p.grantee_principal_id = u.principal_id
left outer join sys.symmetric_keys	sm		on p.major_id = sm.symmetric_key_id and p.class_desc = 'SYMMETRIC_KEYS'
left outer join sys.certificates	[cert]	on p.major_id = [cert].[certificate_id] and p.class_desc = 'CERTIFICATE'
where class_desc in('SYMMETRIC_KEYS', 'CERTIFICATE')
order by u.name
*/

Check Fragmentation

Failed allocate pages: FAIL_PAGE_ALLOCATION 1

-- https://dba.stackexchange.com/questions/141236/failed-allocate-pages-fail-page-allocation-1

Linux Logging Basics

https://www.loggly.com/ultimate-guide/linux-logging-basics/